<div class="col-4 px-3">
  <form action="/answer" method="get">
    <label class="form-label text-secondary" for="user-question">Ask your coach anything:</label>
    <div class="d-flex justify-content-start gap-2">
      <input class="form-control" name="question" id="user-question" type="text" placeholder="type in your question here">
      <input class="btn btn-primary btn-sm" type="submit" value="Ask">
    </div>
  </form>
</div>
